
    {{!-- homepage body code --}}
<h1 class="text-center justify-content-around row p-2 px-3" style="font-family:BellandLamb; font-size:3rem;background-color:white">Time for students to spill the tea on our tutors (or find a new one).</h1>
<section
  id = "dashboard" class=" p-1 mx-0" style="color:white">

  <div class="row justify-content-center">
    <div class="shadow p-3 mb-3 bg-body rounded card dashCards">
      <div class="card-body ">
        <h5 class="card-title bg-dark rounded p-2"><a href="/tutorportal" id="searchButton" class="submitBtn btn btn-md btn-dark">
            <i
              class="bi bi-search text-center"
              alt="search-image"
              style="font-size: 1rem; color: #D1D1D1"
            ></i>
            View Tutors</a></h5>
        <h5 class="dashFacts card-text p-2">
          Wisdom in a cup. </h5>
        
          
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="justify-content-start card shadow p-3 mb-3 bg-body rounded dashCards">

      <div class="card-body ">
        <h5 class="card-title bg-dark rounded p-2" > <a href="/sip"    id="updateButton"
             class="submitBtn btn btn-md btn-dark">
           <i
              class="bi bi-eye-fill text-center"
              alt="share-image"
              style="font-size: 1rem; color: #D1D1D1"
            ></i>
            See reviews</a></h5>
        <h5 class="dashFacts1 card-text p-2">Fancy a cup of tea?</h5>
         
     
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="card shadow p-3 mb-3 bg-body rounded dashCards">
      <div class="card-body ">
        <h5 class="card-title bg-dark rounded p-2"> <a href="/spilltea"  id="createButton" class="submitBtn btn btn-md btn-dark">
              <i
              class="bi bi-plus-circle text-center"
              alt="search-image"
              style="font-size: 1.10rem; color: #D1D1D1"

            ></i>
           Spill Tea</a></h5>
         <h5 class="dashFacts2 card-text p-2">We'll be-leaf you</h5>
      </div>
    </div>
  </div>
  </div>
</section>
<br>

 <script src="/js/homepage.js"></script>



