

  li {
    list-style-type: none;
  }

  .list-padding{
    padding-bottom: 30rem;
  }
  
  
  #tutor-button {
    border:white 1px solid;
    background-color: #5e877f!important;
    color:white;
  }
  #tutor-button:hover {
    
    background-color:white!important;
    color:#5e877f;
  }
  
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  .main-content{
  background-color: #5e877f;
    opacity: 1;
    color: white;
    border-radius: 10px;
    padding: 10px 10px  10px 10px !important;
  
  }